{% extends "template.twig" %}
{% block title %}{{ settings.site_name }} &mdash; Add client{% endblock %}
{% block body %}
    <h1>Adding a client</h1>
    {% include "messages.twig" %}
    <form action="/admin/clients/add" method="post" class="row">
        <div class="form-group col-md-4">
            <label for="clientName">Client's name<span class="required">*</span></label>
            <input id="clientName"
                   name="name"
                   type="text"
                   class="form-control"
                   maxlength="128"
                   required="required"
                   placeholder="Johny Walker Jr."/>
        </div>
        <div class="form-group col-md-4">
            <label for="clientCompany">Company</label>
            <input id="clientCompany"
                   name="company"
                   type="text"
                   class="form-control"
                   maxlength="256"
                   placeholder="Dad's Company ltd."/>
        </div>
        <div class="form-group col-md-4">
            <label for="clientPhone">Phone<span class="required">*</span></label>
            <input id="clientPhone"
                   name="phone"
                   type="text"
                   class="form-control"
                   maxlength="32"
                   placeholder="+1230123456789"/>
        </div>
        <div class="form-group col-md-4">
            <button id="addClient"
                    class="btn btn-success"
                    type="submit">Add this client to base
            </button>
        </div>
    </form>
    <a href="/logout" class="btn btn-secondary">Log out</a>
{% endblock %}