{% extends "template.twig" %}
{% block title %}{{ settings.site_name }} &mdash; Dashboard{% endblock %}
{% block body %}
    <h1>Admin page</h1>
    <a href="/admin/orders/add" class="btn btn-primary">Add order</a>
    <a href="/admin/clients/add" class="btn btn-info">Add client</a>
    {% include "usernav.twig" %}
{% endblock %}