.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.dropdown-divider {
    border-top: 1px solid #6d7fcc;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebarCollapse {
    cursor: pointer;
}

#loginPage {
    background-image: url('../images/wood.jpg');
    background-size: cover;
}

#loginPage .card {
    background: rgba(255, 255, 255, 0.7);
}

td.editable,
td.editMe {
    cursor: pointer;
}

td.editable.success,
td.editMe.success {
    animation: greenPulse 2s;
}

td.editable.fail,
td.editMe.fail {
    animation: redPulse 2s;
}

#userNav img {
    height: auto;
    width: 64px;
}

#clientsTable .remove {
    color: #c00;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@keyframes greenPulse {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #30f351;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes redPulse {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #f3281e;
    }
    100% {
        background-color: transparent;
    }
}