{% extends "template.twig" %}
{% block title %}{{ settings.site_name }} &mdash; Profile{% endblock %}
{% block body %}
    {% if is_logged %}
        {% include "messages.twig" %}
        <h1>User page</h1>
        <a href="/logout">Log out</a>
    {% endif %}
{% endblock %}