<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>F3 Sample Project Login Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if "MESSAGES"|f3 %}
                <div id="messages">
                    {% for type, msg_arr in "MESSAGES"|f3 %}
                        {% for msg in msg_arr %}
                            <div class="alert alert-{% if type|lower == 'error' %}danger{% else %}{{ type|lower }}{% endif %} alert-dismissible{% if msg.one_time %} alert-one-time{% endif %} d-flex align-items-center"
                                 role="alert">
                                <div>
                                    {% if msg.one_time %}
                                        <button type="button" class="close"
                                                data-dismiss="alert" data-code="msg-shown-{{ msg.code }}"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                    {% endif %}
                                    {{ msg.message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form class="form-signin" method="POST" action="/authenticate">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text"
                           id="inputUsername"
                           name="username"
                           class="form-control"
                           placeholder="Username"
                           required="">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password"
                           id="inputPassword"
                           name="password"
                           class="form-control"
                           placeholder="Password"
                           required="">
                </div>
                <button class="btn btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>


