<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center">Admin menu</h3>
    </div>

    <ul class="list-unstyled components">
        <div class="text-center"><img src="{{ UI }}images/{{ username }}_thumb.jpg" class="rounded-circle mr-2" alt="">
        </div>
        <li class="active">
            <a href="/"><span class="fas fa-home"></span> Home</a>
        </li>
        <li>
            <a href="#ordersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                        class="fas fa-table"></span> Orders</a>
            <ul class="collapse list-unstyled" id="ordersSubmenu">
                <li>
                    <a href="/admin/orders/add">Add order</a>
                </li>
                <li>
                    <a href="/admin/orders/edit">Edit order</a>
                </li>
                <li>
                    <a href="/admin/orders/delete">Delete order</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#clientsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                        class="fas fa-users"></span> Clients</a>
            <ul class="collapse list-unstyled" id="clientsSubmenu">
                <li>
                    <a href="/admin/clients/add"><span></span> Add client</a>
                </li>
                <li>
                    <a href="/admin/clients/edit">Edit client</a>
                </li>
                <li>
                    <a href="/admin/clients/delete">Delete client</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/user"><span class="fas fa-address-card"></span> Profile</a>
        </li>
        <div class="dropdown-divider"></div>
        <li>
            <a href="/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
        </li>
    </ul>
</nav>