<div id="userNav" class="d-flex align-items-center justify-content-start mt-3 mb-3">
    <img src="{{ UI }}images/{{ username }}_thumb.jpg" class="rounded-circle mr-2" alt="">
    <a href="/logout" class="btn btn-secondary">Log out &rarr;</a>
</div>